# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
POSTGRES_URL=""
# POSTGRES_PRISMA_URL=""
# POSTGRES_URL_NO_SSL=""
# POSTGRES_URL_NON_POOLING=""
# POSTGRES_USER=""
# POSTGRES_HOST=""
# POSTGRES_PASSWORD=""
# POSTGRES_DATABASE=""

#Environment type
#Options = ["development", "test", "production"]
#If no option selected, defaults to "development"
ENV_TYPE=""
# NODE_ENV=""

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://authjs.dev/getting-started/deployment
AUTH_SECRET=""
AUTH_TRUST_HOST=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
# NEXTAUTH_URL="http://localhost:3000"

# Resend
RESEND_API_KEY=""

#TMDB API Key
TMDB_API_KEY=""

APP_DOMAIN="http://localhost:3000"